<div class="p-5 bg-success">
    <div>
        One component
    </div>

    <h3 class="text-white">@MyMessage</h3>
    
    <Two MyMessage="@MyMessage"></Two>
</div>
 
@code {
    public string MyMessage = "Hello";
}