@page "/city"
<h3 class="bg-info text-white">Select Your City</h3>
<CitySelection />


Code of this component as shown below:
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
    &#64;page &quot;/city&quot;
    &lt;h3 class=&quot;bg-info text-white&quot;&gt;Select Your City&lt;/h3&gt;
    &lt;CitySelection/&gt;

</textarea>

<div>
    Or open code in project to understand what i did
</div>