<div class="form-group p-2">
    <label for="city">City</label>
    <select name="city" class="form-control" @onchange="@HandleSelect">
        <option disabled selected>Select City</option>
        @foreach (string city in Cities)
        {
            <option value="@city">
                @city
            </option>
        }
    </select>
</div>

@code {
    public string[] Cities = new string[] { "Washington DC", "New Delhi", "Mumbai" };

    @* myCustomEvent is cusomt event and it will be registered from parent component *@
    [Parameter]
    public EventCallback<string> myCustomEvent {get;set;}



    public async Task HandleSelect(ChangeEventArgs e)
    {
        await myCustomEvent.InvokeAsync(e.Value as string);
        @* Giải thích InvokeAsync  *@
        @* Cứ hiểu là nó invoke(gọi) handler method (của component cha) được dùng để dắng kí cho myCustomEvent *@
        @* component cha dùng hàm gì để dăng kí thì myCustomEvent sẽ gọi hàm đó *@
        @* nếu component cha sử dụng hàm GetValueFormChildComponent(string newValue) để dăng kí thì  *@
        @* await myCustomEvent.InvokeAsync(e.Value as string) = await myCustomEvent.GetValueFormChildComponent(e.Value as string) *@
    }
}