@page "/datetimeformatted"
@using System.Globalization;

<p>
    The values of the DateTime types can be shown in culture specific manner. They can also be formatted according your
    needs.
    @* The values of the DateTime types can be shown in culture specific manner. They can also be formatted according your
    needs. *@

</p>
<b>
    format as "yyyy-MM-dd" through @@bind:format="yyyy-MM-dd"
    @* format as "yyyy-MM-dd" through @@bind:format="yyyy-MM-dd" *@
</b>
<input type="text" class="form-control" @bind="DOB" @bind:format="yyyy-MM-dd" />

<b>
    Specify culture through "@@bind:culture" attribute
    @* Specify culture through "@@bind:culture" attribute *@
</b>
<br />
<b>
    Britain culture
</b>
<input type="text" class="form-control" @bind="SaleTime" @bind:format="MMM-dd" @bind:culture="CultureGB" />
<b>
    French culture
</b>
<input type="text" class="form-control" @bind="SaleTime" @bind:format="MMM-dd" @bind:culture="CultureFR" />


@code {
    private DateTime DOB = DateTime.Now;

    public DateTime SaleTime { get; set; } = DateTime.Parse("2020/05/15 07:20");
    public CultureInfo CultureGB { get; set; } = CultureInfo.GetCultureInfo("en-gb");
    public CultureInfo CultureFR { get; set; } = CultureInfo.GetCultureInfo("fr-FR");
}
