@page "/Iexample"


<h1>@headingText</h1>
@code {
    private string headingText = "Welcome to Blazor!";
}


<b>↓ Code below ↓</b>

<div>
    Iexample.razor
</div>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="7">
    &lt;h1&gt;@headingText&lt;/h1&gt;

    &#64;code {
    private string headingText = "Welcome to Blazor!";
    }

</textarea>
