@page "/parampage"

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FirstBlazorApp.Pages


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <div>Open code in Page/ParamPage.cshmlt to understand what i did</div>
    
    @* using param-NameOfAtrribute = "@("value")" to pass data to component *@
    <component type="typeof(CitySelection)" render-mode="Server" param-MyCity="@("Mumbai")" param-MyBackground="@("bg-warning")"/>
    <div>
        This is a razor page named Hello.cshtml not a component
    </div>

    @* The script element specifies the name of the JavaScript file that establishes the SignalR connection with the server. *@
    @* Note that you “don’t” have to add this JavaScript file to the project as it will be done automatically by Blazor.*@
    @* Script này dùng để thiết lập kết nối SingnalR từ browser tới server, nhiệm vụ của kết nối này là nếu server thay đổi gì thì nó sẽ gửi về cho browser *@
    @* Thẻ script này không cần thêm cũng được mặc định Blazor sẽ thêm vào cho chúng ta *@
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
