@page "/parampage"

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FirstBlazorApp.Pages


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <b>Open code in -> Page/ParamPage.cshtml to understand what i did</b>
    
    @* Chúng ta không chỉ có thể truyền data từ component cha cho component con mà còn có thể từ razor page cho component *@

    @* using param-NameOfAtrribute = "@("value")" to pass data to component *@
    <component type="typeof(CitySelection)" render-mode="Server" param-MyCity="@("Mumbai")" param-MyBackground="@("bg-warning")"/>
    <div>
        This is a razor page named Hello.cshtml not a component
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
