@page "/passingdata"

<b>See in code to understand what i did</b>

<div>
    <h3 class="bg-info text-white">Select Your City</h3>


    @* MyCity and MyBackground are custom attribute open CitySelection.razor to understand how to create them *@
    <CitySelection MyCity="New Delhi" MyBackground="bg-warning"/>
</div>

@code {
   
}