@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar p-3 mb-2 text-dark">
                <ul class="nav flex-column">
                    <li>
                        <NavLink href="parent" Match="NavLinkMatch.All">
                            1. Chained Bind
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="templatecomponent" Match="NavLinkMatch.All">
                            2. Template component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="animal" Match="NavLinkMatch.All">
                            2.1 Resuse template component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="cascading" Match="NavLinkMatch.All">
                            3. Cascading Values and Parameters
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="multicascade" Match="NavLinkMatch.All">
                            3.1 Multiple Cascading Parameters
                        </NavLink>
                    </li>

                     <li>
                        <NavLink href="error" Match="NavLinkMatch.All">
                            4. Error Message
                        </NavLink>
                    </li>


                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            @Body
        </div>
    </div>
</div>

<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 25%;
        z-index: 1000;
        overflow-y: auto;
    }

    .col-sm-9 {
        margin-left: 25%;
        /* This should match the sidebar width */
    }

    .active {
        color: red;
    }
</style>