@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar p-3 mb-2 text-dark">
                <ul class="nav flex-column">
                    <li>
                        <NavLink href="Iexample" Match="NavLinkMatch.All">
                            1. Example razor component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="count" Match="NavLinkMatch.All">
                            2. Saperated file
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="city" Match="NavLinkMatch.All">
                            3. Parent-child component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="hello" Match="NavLinkMatch.All">
                            4. Go to Razor page
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="passingdata" Match="NavLinkMatch.All">
                            5. Passing data from Parent to Child component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="parampage" Match="NavLinkMatch.All">
                            6. Passing data form razor page to component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="city2" Match="NavLinkMatch.All">
                            7. Transfer bulk values with “CaptureUnmatchedValues” property
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="tech" Match="NavLinkMatch.All">
                            8. Blazor Route Parameters
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="childcontent" Match="NavLinkMatch.All">
                            9. Using ChildContent
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="dataformchild" Match="NavLinkMatch.All">
                            10. Transferring values from Child Razor Component to Parent Razor Component
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            @Body
        </div>
    </div>
</div>

<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 25%;
        z-index: 1000;
        overflow-y: auto;
    }

    .col-sm-9 {
        margin-left: 25%;
        /* This should match the sidebar width */
    }

    .active {
        color: red;
    }
</style>