@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar p-3 mb-2 text-dark">
                <ul class="nav flex-column">
                    <li>
                        <NavLink href="Iexample" Match="NavLinkMatch.All">
                            Example razor component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="count" Match="NavLinkMatch.All">
                            Saperated file
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="city" Match="NavLinkMatch.All">
                            Parent-child component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="hello" Match="NavLinkMatch.All">
                           Go to Razor page
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="passingdata" Match="NavLinkMatch.All">
                            Passing data from Parent to Child component
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="parampage" Match="NavLinkMatch.All">
                            Passing data form razor page to component
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            @Body
        </div>
    </div>
</div>

<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 25%;
        z-index: 1000;
        overflow-y: auto;
    }

    .col-sm-9 {
        margin-left: 25%;
        /* This should match the sidebar width */
    }

    .active {
        color: red;
    }
</style>