@page "/count"
<h1>Count</h1>
<p>Counter : @cc</p>

<button class="btn btn-primary" @onclick="Increment">Click</button>


<div>
    Find code in Pages/Count/Count.razor and Count.razor.cs to understand what i did
</div>